/* helper-loading.js - v1.0.0 */
.helper-loading {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000 url('../img/helper-loading/helper-loading.gif') no-repeat center center;
	opacity: .8;
	z-index: 9999;
}
